html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  background-color: #fafafa;
  color: #444;
}

.container {
  margin: 0 auto;
  max-width: 500px;
}

.container-img {
  display: block;
  width: 100%;
}

nav a {
  padding: 10px;
  display: inline-block;
}
